<style>
nav {
  float: left;
  background-color: rgb(43,157,192);
  border-right: 1px solid black;
}
header {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
li {
  font-size: 1.5em;
}
</style>

<nav class="col-md-3">
  <h1>Bloc Chat</h1>
  <button style="display:block;margin-left:auto;margin-right:auto;" align="center" type="button" class="btn btn-primary" ng-click="home.addRoom()">Create New Room</button>
  <div><h4></h4></div>
  <div ng-repeat="room in home.rooms"><!--added ng-click="home.activeRoom()"-->
  <ul><li ng-click="home.activeRoom(room)">{{ room.$value }}</li></ul>
  </div>
</nav>
<container class="col-md-9">
<!--title of section should be current room, start here-->
  <header>{{ home.activeRoom.$value }}</header>
<!-- click on chat room from nav opens room in body -->
</container>

    <!--connect button to modal.html-->
