<div style="display:block;margin-left:auto;margin-right:auto;" align="center" class="modal-header"><h2>Select Username</h2></div>
<div style="display:block;margin-left:auto;margin-right:auto;" align="center" class="modal-header"><h4>This name will appear when you send messages<h4></div>
<input style="display:block;margin-left:auto;margin-right:auto;" align="center" type="text" name="input" ng-model="modal.username">


<div><h2>  </h2></div>

  <div style="display:block;margin-left:auto;margin-right:auto;" align="center">
      <button type="button" class="btn btn-primary" ng-click='modal.setUsername(modal.username)'>Confirm Name</button>
  </div>
